$fondo: #fffffe;
$texto: #2b2c34;
$boton: #6246ea;
$texto_boton: #fffffe;
$titulos: #2b2c34;
$principal: #fffffe;
$resaltar: #6246ea;
$secundario: #d1d1e9;
$tercer: #e45858;
$fondo_card: #d1d1e9;
$fondo_formulario: #d1d1e9;
$enlace: #6246ea;
$fondo_card_formulario: #fffffe;

$dark_fondo: #16161a;
$dark_texto: #94a1b2;
$dark_boton: #7f5af0;
$dark_texto_boton: #fffffe;
$dark_titulos: #fffffe;
$dark_principal: #fffffe;
$dark_resaltar: #7f5af0;
$dark_secundario: #72757e;
$dark_tercer: #2cb67d;
$dark_fondo_card: #16161a;
$dark_fondo_formulario: #242629;
$dark_enlace: #7f5af0;
$dark_fondo_card_formulario: #16161a;
